<div class="jumbotron">
  <h1>Evaluations</h1>
</div>

<%if @evaluations.all.size == 0%>
<div class="alert alert-danger" role="alert">There are no evaluations to show</div>
<%else%>
<table class="table table-striped">
	<tr>
		<th>
			#
		</th>
		<th>
			Product
		</th>
		<th>
			Characteristic
		</th>
		<th>
			User
		</th>
		<th>
			Score
		</th>
		<th>
			Comment
		</th>
	</tr>
	<% @evaluations.each do |evaluation|%>
		<tr>
			<td>
		 		 <%= (evaluation.id)%>
		 	</td>
		 	<td>
		 		 <%= evaluation.product_characteristic.product.name %> <!-- -->
		 	</td>
		 	<td>
		 		 <%= evaluation.product_characteristic.characteristic.name %> <!-- -->
		 	</td>
		 	
			<td>
		 		 <%= evaluation.user.name %>
		 	</td>
		 	<td>
		 		 <%= evaluation.score %>
		 	</td>
		 	<td>
		 		 <%= evaluation.comment %>
		 	</td>
		</tr>
	<% end %>		
</table>
<% end %>
