<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>	

  <div class="form-group">
    <h4><%= f.label :name %></h4>
    <%= f.text_field(:name, class: "form-control")%>
  </div>
  <div class="form-group">
    <h4><%= f.label :description %></h4>
    <%= f.text_area(:description, rows: 3, class: "form-control") %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-default">Create Product</button> <!--%= f.submit %> <!-- -->
  </div>
<% end %>
