<div class="jumbotron">
  <h1>Products</h1>
</div>

<%if @products.all.size == 0%>
<div class="alert alert-danger" role="alert">There are no products to show</div>
<%else%>
<table class="table table-striped">
	<tr>
		<th>
			#
		</th>
		<th>
			Name
		</th>
		<th>
			Description
		</th>
		<th>
			Created at
		</th>
		 	<th>
		 		Evaluate
		 	</th>
	</tr>
	<% @products.each do |product|%>
		<tr>
			<td>
		 		 <%= (product.id)%>
		 	</td>
		 	<td>
		 		 <%= product.name %> <!-- -->
		 	</td>
		 	<td>
		 		 <%= product.description %> <!-- -->
		 	</td>
		 	
			<td>
		 		 <%= product.created_at.strftime("%d/%m/%Y") %>
		 	</td>
		 	<td>
		 		<%= link_to "Evaluate", controller: "products", action: "evaluate", id: product %>
		 	</td>
		</tr>
	<% end %>		
</table>
<% end %>